.budget-lists-container{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

.lists-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    text-align: start;
}

.price{
    display: flex;
    justify-content: space-between;
}